In [10]:
num1 = 5
num = 14
suma = num + num1
suma

19

Importamos la Libreria de pandas

In [13]:
import pandas as pd

Creamos Datos para Dataframe

In [11]:
datos = {
    "Nombres": ["Ana", "Carlos", "Beatriz", "David"],
    "Edad": [25, 30, 22, 35],
    "Ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}

Creamos un Dataframe con los datos

In [15]:
df = pd.DataFrame(datos)
df

   Nombres  Edad     Ciudad
0      Ana    25     Madrid
1   Carlos    30  Barcelona
2  Beatriz    22   Valencia
3    David    35    Sevilla

Voy a filtrar datos por edad

In [ ]:
df[df['Edad'] > 24]